// Define variables for your color scheme

// For example:
$black: rgb(20, 20, 20);
$dark-gray: rgb(41, 41, 41);
$middle-gray: rgb(51, 51, 51);
$light-gray: rgb(61, 61, 61);
$bright-white-color: rgba(255, 255, 255, 0.9);
$basic-white-color: rgba(255, 255, 255, 0.7);

$background: rgb(51, 51, 51);
$navbar: rgb(61, 61, 61);


$color-to-do: rgba(180, 46, 46, 0.9);
$color-in-progress: rgba(184, 114, 48, 0.9);
$color-done: rgba(62, 180, 72, 0.9);
$color-new: rgba(34, 13, 223, 0.9);
