<div class="container">
  <div class="row">
    <div class="col-2 border">
      <div>
        <h3>My Projects</h3>
      </div>
      <div>
        <ul>
          <% @films.each do |film| %>
            <li>
              <h4><%= link_to film.name, film_path(film)  %></h4>
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <h3><%= link_to '+ Create new project', new_film_path  %></h3>
      </div>
    </div>


    <div class="col-7 border">
      <h1> hello <%= @user.email %></h1>
    </div>


    <div class="col-3 border">
      <div>
        <h3>My profile</h3>
        <%= image_tag "StanK.jpg", class: "profile-pic"%>
      </div>

    </div>
  </div>
</div>
