<div class="new-container">
  <div class="new-inner-container">
    <div>
      <h2>Create a New Department</h2>
      <%= simple_form_for([@film, @department]) do |f| %>
        <%= f.input :name %>
        <div class="btndiv">
          <%= f.submit class: "new-film-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
