.basic-card {
    background-color: $background;
    border: 1px solid;
    border-radius: 8px;
    border-color: #e6e9ef;
    border-color: $bright-white-color;
}


.film-moodboard-card-1 {
  // background-position: 0 -300px;
  background-size: cover;
  // background-repeat: no-repeat;
  height: 400px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 10px #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #000000;

}
.btn-card:hover {
    text-decoration: none;
  }
