.department-showpage-container {
  background-color: $dark-gray;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.department-showpage-main-container {
  padding: 0 10px
  h1 {
  margin: 25px 0;
  }
  h4 {
    color: $bright-white-color;
    font-size: 25px;
    margin-left: 5px;
  }
}

.department-background-image {
  background-size: cover;
}

.department-padding {
  padding-left: 15px;
  padding-right: 15px;

}

.department-second-background {
  background-color: black;
  // background-color: $dark-gray;
}

.department-showpage-inner-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.department-showpage-all-tasks-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $body-font;
}
.department-showpage-task-types {
  border: 1px solid $basic-white-color;
  border-radius: 8px;
  flex-grow: 1;
  padding: 8px;
  margin: 0px 5px;
  color: $basic-white-color;
  font-weight: bolder;
  font-family: $body-font;
  height: auto;
  min-height: 400px;
  box-shadow: 2px 2px 2px rgba(250, 250, 250, 0.041);
  p {
    color: $bright-white-color;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 5px;
    font-family: $headers-font;
  }
}
.department-showpage-task-types:hover {
  box-shadow: 2px 2px 2px rgba(250, 250, 250, 0.205);
}

.department-showpage-tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
  justify-content: flex-start;
}

.single-task {
  button {
    display: flex;
    border-radius: 8px;
    padding: 16px 8px;
    align-items: flex-start;
    margin: 6px 5px;
    background-color: $light-gray;
    font-family: $body-font;
    color: $basic-white-color;
    font-weight: bolder;
    text-decoration: none;
    justify-content: center;
    height: 75px;
    width: 97%;
    border: 1px rgba(255, 255, 255, 0.363);
  }
}

.single-task button:hover {
  color: $bright-white-color;
  text-decoration: none;
  background-color: $light-light-gray;
  transition: 0.5s;
}
#to-do-new a {
  background-color: transparent;
  border: 1px solid $light-gray;
}
#to-do-new a:hover {
  background-color: $light-gray;
  transition: 0.3s;
}

.department-showpage-header-title h1 {
  font-family: $headers-font;
  color: $bright-white-color;
  font-size: 40px;
  padding-top: 15px;
}

.department-showpage-main-container p a {
  font-family: $body-font;
  color: $basic-white-color;
  text-decoration: none;
}

.department-showpage-timeline {
  border: 1px solid $basic-white-color;
  border-radius: 8px;
  height: 150px;
  padding: 8px 10px 10px;
}

.department-showpage-timeline-container h4 {
  color: $bright-white-color !important;
  font-size: 25px !important;
}

.timeline-photo {
  .timeline-png {
    width: 100%;
    height: 130px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timeline-tasks {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: space-around;
  .task-on-timeline {
    margin-top: 18px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .timeline-task-point {
      // position: relative;
      background-color: #ffff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}



.task-title-timeline {
  opacity:0;
}

.timeline-title-with-opacity {
    opacity:1 !important;
}
.edit-link-button {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $dark-gray;
  border-radius: 5px;
  border: 1px solid $basic-white-color;
  width: 10%;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 35px;
  a {
    color: $basic-white-color;
  }
}
.edit-link-button:hover {
  border: 1px solid $color-in-progress;
  a {
    color: $color-in-progress;
    text-decoration: none;
  }
}
.delete-link-button {
  height: 35px;
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $dark-gray;
  border-radius: 5px;
  border: 1px solid $basic-white-color;
  width: 10%;
  text-decoration: none;
  a {
    color: $basic-white-color;
  }
}
.delete-link-button:hover {
  border: 1px solid $color-to-do;
  a {
    color: $color-to-do;
    text-decoration: none;
  }
}
.back-link-button {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $dark-gray;
  border-radius: 5px;
  border: 1px solid $basic-white-color;
  width: 10%;
  text-decoration: none;
  a {
    color: $basic-white-color;
  }
}
.back-link-button:hover {
  border: 1px solid $color-new;
  a {
    color: $color-new;
    text-decoration: none;
  }
}
.department-showpage-header-title {
  display: flex;
}
.department-showpage-header {
  display: flex;
  justify-content: space-between;
}
.link-container {
  display: flex;
  justify-content: right;
  margin: 10px;
  padding: 10px;
  width: 40%;
  // margin-top: 100px;
}
.modal-container-task-new-card {
  background: rgb(61, 61, 61);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: $headers-font;
  color: rgba(255, 255, 255, 0.7);
  display: none;
  .form-control {
    background-color: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.7);
  }
}
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  backdrop-filter:blur(10px);
  position: absolute;
  display: none;
  justify-content: center;
}
.modal-show {
  position: absolute;
  display: block;
  z-index: 5;
  // left: 35%;
  width: 40%;
  height: 68vh;
}
.modal-button {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $dark-gray;
  border-radius: 5px;
  border: 1px solid $basic-white-color;
  width: 10%;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 35px;
  a {
    color: $basic-white-color;
  }
}


.department-show-tabs {
  display: flex;
  justify-content: space-around;
}

.department-show-tabs:hover {
  a {
    text-decoration: none;
  }
}


.tab-item {
  width: 100%;
  background-color: $light-gray;
  text-align: center;
  padding: 15px 0;
  border-radius: 0 0 8px 8px;
  a {
    color: $basic-white-color;
  }
}

.tab-item-left {
  margin-right: 15px;
}

.back-to-film-btn {
  color: $basic-white-color;
  text-decoration: none;
  transition: 0.3s;
}

.back-to-film-btn:hover {
  color: $bright-white-color;
  text-decoration: none;
}
