.edit-task-card-container {
  background-color: rgb(61, 61, 61);
  width:90%;
  height: 100%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);

  .form-control {
    background-color: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.7);
    // border-color: none;
  }

}

//  .was-validated .form-control:valid, .form-control.is-valid {
//   border-color: none !important;
// }

.is-valid {
  border-color: white !important;
  background-image: none !important;

}
