.film-moodboard-main {
  // padding: 10px;
  background-color: $dark-gray;
  display: flex;
  width: 85%;
  justify-content: center;


}

.film-moodboard-card-container {
  width: 100%;
  margin-left: 20px;
  margin-right: 60px;

}

.film-moodboard-inner-container {
  display: flex;
}
