.grants-container {
  // height: 100vh;
  height: auto;
  width: 100vw;
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
}

.grants-index {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  // height: 82vh;
}

// .grants-index-mid {
//   display: flex;
//   justify-content: center;
// }

.grants-index-inner {
  background-color: $light-gray;
  width: 80%;
  // margin-left: 32px;
  margin-top: 8px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #000000ad;
  height: auto;
}

.grants-new {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  height: 500px;

}

.grants-new-inner {
  background-color: $light-gray;
  margin-top: 8px;
  padding: 32px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #000000ad;
}

// .grants-links {
//   margin-top: 16px;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   height: 50px;
//   text-decoration: none;
//     color: $basic-white-color;
//   p{
//     background-color: $middle-gray;
//     height: 50px;
//     width: 200px;
//     border-radius: 10px;
//     color: $basic-white-color;
//     transition: 0.3s;
//     text-decoration: none;
//     color: $basic-white-color;

//   }
//   :hover {
//     color: white;
//     background-color: $light-gray;

//   }

// }

.grants-each-member {
  display:flex;
  align-items: center;
  margin: 12px 0;
  p {
    margin-left: 10px;
  }
}


.grants-links {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}


.to-film-btn {
  background-color: $dark-gray;
  height: 50px;
  width: 200px;
  color: $basic-white-color;
  padding: 10px 20px;
  border-radius: 10px;
  color: $basic-white-color;
  transition: 0.3s;
  text-decoration: none;

}

.to-film-btn:hover {
  color: white;
  background-color: $middle-gray;
  text-decoration: none;
}

.new-grant-btn {
  background-color: $dark-gray !important;
}

.new-grant-btn:hover {
  background-color: $middle-gray !important;
}



.form-actions {
  display: flex;
  justify-content: center;
}


.select2-results {
  li {
    color: black !important;
  }
}

.select2-search__field {
  color: black !important;

}
