.task-new-card {
  background: rgb(61, 61, 61);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
  font-family: $headers-font;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid $basic-white-color;

  .form-control {
    background-color: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.9);
  }
}

.simple-from-new-task {
  border-color:rgba(255, 255, 255, 0.7);
}

.glass-button {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 8px 24px;
  border-radius: 25px;
  // font-weight: bold;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  background-color:rgb(20, 20, 20);
  font-family: $headers-font;

}

.glass-button:hover {
  font-weight: bold;
  border: 1px solid (34, 13, 223, 0.9);
}

.modal-title {
  font-family: $headers-font;
  color:rgb(20, 20, 20)
}

// .pop-up-container {
//   width: 50%;
// }
