.moodboard-ultra-container {
  background-color: $dark-gray;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.moodboard-container {
 column-count: 3;
 column-gap: 15px;
 padding: 0 64px;

}

.moodboard-header-title h1 {
  font-family: $headers-font;
  color: $bright-white-color;
  font-size: 40px;
  padding-top: 15px;
}

.moodboard-header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.submission-card {
 display: inline-block;
 width: 100%;
 padding: 10px 10px 0;
 margin: 10px 0;
 background-color: $light-gray;
 border-radius: 8px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 .submission-photo {
  display:block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
 }
 .submission-card-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
    border-top: 1px solid $light-light-gray;
    // line-height: 0.3;
    .submission-card-text p {
      max-width: 40px;
      max-height: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
 }
}

.to-each-submission:hover {
  text-decoration: none;
  color: $bright-white-color;
  font-weight: bold;
  .submission-photo {
    opacity: 0.8;
    transition: 0.3s;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.02);
    }
}


.submission-content {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 0.3;
}

.moodboard-inner-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}


.department-show-tabs {
  display: flex;
  justify-content: space-around;
}

.department-show-tabs:hover {
  a {
    text-decoration: none;
  }
}
