.navbar {
  display: flex;
  justify-content: space-between !important;
}


.navbar-lewagon {
  justify-content: space-between;
  background: $navbar;
  color: white;
  padding: 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 20px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  padding-left: 10px;
}

.navbar-lewagon{
  a, p {
    color: $light-gray;
  }
}

h1 {
  color: white;
}

.navbar-nav {
  align-items: center;
}
