.navbar {
  display: flex;
  justify-content: space-between !important;
  // box-shadow: inset 0px 0px 10px #bebebe;
  // box-shadow: inset -2px 2px 15px 0px rgba(255, 255, 255, 0.363), inset 0.5px -0.5px 1px 0px rgba(204, 204, 204, 0.233);
  // border-bottom: 1px solid #C2032A;
  border-bottom: 1px solid #8d031a;
  box-shadow: 0 0 10px #c203298c;
  z-index: 100;
}

// .navbartop {
//   width: 100%;
//   height: 10px;
//   // background-color: orangered;
//   box-shadow: 30px 30px 50px #f50202;
//   margin-bottom: 10px;
// }


.navbar-lewagon {
  justify-content: space-between;
  background: $navbar;
  color: white;
  padding: 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 20px;

}

.navbar-brand {
    // height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  position: relative;
  color: $bright-white-color;
  overflow: hidden;
  transition: 0.5s;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(253, 245, 171, 0.623),transparent);
  transition: 0.5s;

}
.navbar-brand:hover::before {
  left: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  padding-left: 10px;
}

.navbar-lewagon{
  a, p {
    color: $light-gray;
  }
}

h1 {
  color: white;
  font-family: $body-font;
}

.navbar-nav {
  align-items: center;
}
