.profile-page-main {
  padding: 20px 30px;
  background: $dark-gray;
}

.recent-films-box {
  // background-color: $light-gray;
  background-color: transparent;
  border-radius: 8px;
  // padding: 20px 20px;
  // box-shadow: inset 0px 0px 20px #5c5b5b;
  // margin-bottom: 24px;
}

.profile-movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.profile-movie-card {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: end;
  color: $basic-white-color;
  background-size: cover;
  // height: 100%;
  background-color: $middle-gray;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: 1px solid $basic-white-color;
  font-weight: bolder;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.film-title-background {
  background-color: $light-gray;
  width: 100%;
  border-radius: 0 0 8px 8px;
  p {
    padding-top: 8px;
    padding-bottom: 18px;
    margin: 0;
    font-size: 7px;
  }
}


.profile-movie-card:hover {
  .film-title-background {
    color: $bright-white-color;
    background-color: $light-light-gray;
  }
  background-color: $light-gray;
  transition: 0.3s;
}

.to-each-film:hover {
  text-decoration: none;
}

.profile-new-movie-card {
  font-size: 60px;
  display: flex;
  position: relative;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $basic-white-color;
  background-color: $middle-gray;
  border-radius: 8px;
  border: 1px solid $basic-white-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.3s;
  .plus-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-light-gray;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-top: 30px;
    z-index: 2;
    border: 8px solid $light-gray;
    p {
      margin: 0;
      font-size: 40px;
      z-index: 1;
      font-weight: lighter;
    }
  }
}

.new-film-title-background {
  width: 100%;
  position: absolute;
  height: 58px;
  bottom: 0;
  background-color: $light-gray;
  border-radius: 0 0 8px 8px;
}

.profile-new-movie-card:hover {
  .new-film-title-background {
    color: $bright-white-color;
    background-color: $light-light-gray;
  }
  .plus-background {
    background-color: $bright-white-color;
    border: 8px solid $light-light-gray;
    p {
      color: $light-light-gray;
    }
  }
  background-color: $light-gray;
  transition: 0.3s;
}


.to-new-film:hover {
  text-decoration: none;
}

.recent-films-box p {
  font-size: 14px;
}

.profile-page-notifications-box {
  background-color: $middle-gray;
  margin: 20px 0;
  border-radius: 8px;
  padding: 20px 20px;
  box-shadow: inset 0px 0px 20px #5c5b5b;

}

.notification-card {
  display: flex;
  border-top: 1px solid $basic-white-color;
  // margin: 8px 0;
  padding: 10px 10px;
  transition: 0.3s;
  align-items: center;
  p {
    margin: 0;
    padding: 0 12px;
  }
}

.notification-message {
  font-size: 16px;
  margin: 0;
}

.notification-film {
  font-size: 12px;
}

.notification-message-time {
  font-size: 12px;
}

.to-each-task:hover {
  text-decoration: none;
  color: $bright-white-color;
  font-weight: bold;
}

.notification-card:hover {
  // .notification-message {
    padding:12px 0;
    transition: 0.3s;
  // }
}

// b {
//   color: purple;
// }

.reflection-box {
  display: flex;
  justify-content: center;
  background: $dark-gray;

}

.reflection {
  margin-top: 40px;
  background-color: #d60225;
  // background-color: linear-gradient(rgb(245, 6, 6),rgb(179, 3, 3));
  height: 30px;
  width: 600px;
  border-radius: 50%;
  transform: perspective(1em) rotateX(45deg) scale(1, 0.3);
  filter: blur(1.5em);
  margin-bottom: 64px;
}
