.submission-show-main-container {
  background-color: $dark-gray;
}

.submission-show-container {
  display: flex;
  background-color: $dark-gray;
  // width:90%;
  // height: 100%;
  // margin: 10px auto;
  // padding: 10px;
  // border-radius: 8px;
  // border: 1px solid $middle-gray;
  // box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.267);
}

.submission-show-inner-container {
background-color: $dark-gray;
  // width:100%;
  margin: 0 auto;
  padding: 20px 25px;
  border-radius: 8px;
  border: 1px solid $middle-gray;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.267);
}

.top-submission-div {
  display: flex;
  justify-content: space-between;
}

.submission-show-title {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.submission-show-title-sub {
  display: flex;
}

.submission-show-delete {
  margin-left: 5px;
}

.submission-show-title .sub a{
   border-radius: 8px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-family: $body-font;
    color: $basic-white-color;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid $light-light-gray;
    margin-top: 5px;
    text-align: center;
}



.submission-show-submission-type {
  display:flex;
  margin: 8px 0;
  justify-content: space-between;
  width: 65%;
  align-content: center;
}

.submission-show-label {
    color: $light-light-gray;
    font-size: 13px;
    line-height: 18px;
    max-width: 140px;
    overflow: hidden;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-left: 10px;
    flex-grow: 1;
    font-weight: bolder;
}

.submission-show-value {
  color: $basic-white-color;
  font-size: 14px;
  line-height: 18px;
  max-width: 140px;
  flex-grow: 1;
}

.submission-show-value .content-box em {
  color: $light-gray;
  font-size: 10px;
}

.submission-show-value .content-box {
  height: 50px;
  background-color: $middle-gray;
  margin-left: 10px;
  color: $light-light-gray;
  // padding: 10px;
}

.description-box {
  border: 1px solid $light-gray;
  border-radius: 8px;
  height: fit-content;
  color: $light-light-gray;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);
}
.description-box:hover {
  // background-color: $light-gray;
  border: 1px solid $basic-white-color;
  color: $basic-white-color;
  transition: 0.3s;
}

.comments-section-main-container  {
}
n
.comments-section-inner-container {
  // background-color: $middle-gray;
}

.new-comment {
  width: auto;
}

.single-comment {
  border-radius: 8px;
  background-color: $middle-gray;
  padding: 5px;
  margin: 10px 0;
  margin-right: 5px;
  border: 1px solid $light-gray;
  box-shadow: 1px 1px 10px $dark-gray;
}

.single-comment:hover {
  border: 1px solid $light-light-gray;
}

.single-comment small  {
  color: $light-gray;
  transition: 0.3s;
}


.avatar-comment {
  border-radius: 50%;
  width: 30px;
  margin-right: 8px;
  margin-top: 8px;
}

.single-comment-details {
  margin-left: 5px;
  display: flex;
}

.single-comment-content {
  i {
  color: $very-light-gray;
  }
  small {
    color: $basic-white-color;
  }
  p {
    font-size: 14px;
    padding-top: 6px;
  }
}

.new-comment {
  display: flex;
}

.new-comment {
  .form-control {
    background-color: transparent;
    min-height: 32px;
    // padding:8px;
    max-height: none;
    transition: min-height 250ms;
    border-radius: 8px;
    font-style: $body-font;
    color: $basic-white-color;
    width: 75vw;
  }
}

.comment-btn {
  background-color: rgba(45, 73, 231, 0.801);
  color: $basic-white-color;
  border-radius: 8px;
  border: 1px solid $light-gray;
  padding: 8px 16px;
  justify-content: flex-end;
}

.comment-btn:hover {
  color: $bright-white-color;
  background-color: rgba(45, 73, 231, 0.9);
  border: 1px solid  rgba(14, 47, 233, 0.9)
}

.submission-show-all-details {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  height: 50%;
  height: fit-content;
  max-height: 50%;
}

.submission-show-details-1 {
  width: 60%;
  padding-right: 15px;

}

.submission-show-details-2 {
  // height: 50%;
  padding-right: 25px;

}
.submission-show-picture {
  width: 38vw;
  height: auto;
  border-radius: 8px;
}
