

.task-show-container {
  background-color: $dark-gray;
  width: 40%;
  height: 600px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);
}

.inner-task-show-container {
  padding: 10px;
  background-color: $dark-gray;
}

.task-show-title {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.task-show-title-sub {
  display: flex;
}

.task-show-delete {
  margin-left: 5px;
}

.task-show-title-sub a{
   border-radius: 8px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-family: $body-font;
    color: $basic-white-color;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid $light-light-gray;
    margin-top: 5px;
    text-align: center;
}



.task-show-task-type {
  display:flex;
}

.task-show-label {
    color: $light-light-gray;
    font-size: 13px;
    line-height: 18px;
    max-width: 140px;
    overflow: hidden;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-left: 10px;
    flex-grow: 1;
    font-weight: bolder;
}

.task-show-value {
  color: $basic-white-color;
  font-size: 14px;
  line-height: 18px;
  max-width: 140px;
  flex-grow: 1;
}

.task-show-value .content-box em {
  color: $light-gray;
  font-size: 10px;

}

.task-show-value .content-box {
  height: 50px;
  background-color: $middle-gray;
  margin-left: 10px;
  color: $light-light-gray;
}

.description-box {
   border: 1px solid $light-gray;
  border-radius: 8px;
  height: 200px;
  padding: 10px;
  color: $light-light-gray;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);
}

.description-box:hover {
  // background-color: $light-gray;
  border: 1px solid $basic-white-color;
  color: $basic-white-color;
  transition: 0.3s;
}

.add-submission-btn {
    border-radius: 8px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-family: $body-font;
    color: $light-light-gray;
    font-weight: bolder;
    text-decoration: none;
    justify-content: center;
    border: 1px solid $light-light-gray;
    margin-top: 5px;
    text-align: center;
  }

.add-submission-btn:hover {
  background-color: $light-gray;
  border: 1px solid $basic-white-color;
  color: $basic-white-color;
  transition: 0.3s;

}
