.task-show-container {
  background-color: $dark-gray;
  width: 50%;
  height: fit-content;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);
}
.inner-task-show-container {
  padding: 10px;
  background-color: $dark-gray;
  position: relative;
}
.task-show-title {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
}
.task-show-title-sub {
  display: flex;
}
.task-show-delete {
  margin-left: 5px;
}
.task-show-title-sub a {
  border-radius: 8px;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  font-family: $body-font;
  color: $basic-white-color;
  font-weight: bolder;
  text-decoration: none;
  border: 1px solid $light-light-gray;
  margin-top: 5px;
  text-align: center;
}
.task-show-task-type {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  width: 65%;
  align-content: center;
}
.task-show-label p {
  color: $bright-white-color !important;
  font-size: 15px;
  // line-height: 18px;
  max-width: 140px;
  overflow: hidden;
  padding-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  font-weight: bolder;
  font-family: $body-font;
}
.task-show-value p {
  color: $bright-white-color;
  font-size: 17px !important;
  line-height: 18px;
  max-width: 140px;
  flex-grow: 1;
  font-weight: bold !important;
  font-family: $body-font;
}

.task-show-value .content-box em {
  color: $light-gray;
  font-size: 13px;
}
.task-show-value .content-box {
  height: 50px;
  background-color: $middle-gray;
  margin-left: 10px;
  font-size: 14px !important;
  color: $basic-white-color;
}

.description-box {
  border: 1px solid $light-gray;
  border-radius: 8px;
  height: 200px;
  padding: 15px;
  margin-bottom: 10px;
  color: $basic-white-color;
  font-size: 13px !important;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.041);
}
.description-box:hover {
  // background-color: $light-gray;
  border: 1px solid $basic-white-color;
  color: $basic-white-color;
  transition: 0.3s;
}
.add-submission-btn a {
  border-radius: 8px;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  padding: 6px 12px;
  font-family: $body-font;
  color: $basic-white-color;
  font-weight: bolder;
  text-decoration: none;
  justify-content: center;
  border: 1px solid $light-light-gray;
  margin-top: 10px;
  text-align: center;
}

.add-submission-btn a:hover {
  background-color: $light-gray;
  border: 1px solid $basic-white-color;
  color: $basic-white-color;
  transition: 0.3s;
}
.task-show-main-container {
  display: none;
}
.task-show-visible {
  position: absolute;
  width: 100%;
  top: 60px;
  display: block;
  left: 0;
  backdrop-filter: blur(10px);
  overflow: visible
}
.close-modal {
  p {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 20px;
    color: #ffffff7d;
    cursor: pointer;
  }
}

.task-show-submissions {
  display: inline;
}

.single-submission {
    display: flex;
    border-radius: 8px;
    padding: 8px 10px;
    align-items: flex-start;
    background-color: $light-gray;
    font-family: $body-font;
    color: $basic-white-color;
    font-weight: bolder;
    text-decoration: none;
    justify-content: flex-start;
    height: fit-content;
    // border: 1px solid $light-gray;
}

.single-submission:hover {
  color: $bright-white-color;
  // border: 1px solid $basic-white-color;
  padding: 8px 5px;
  transition: 0.3s;
  color: $bright-white-color;
}

.task-show-submissions a {
  margin: 10px 4px;
  text-decoration: none;
  transition: 0.3s;
}

.single-submission-content {
  color: $bright-white-color;
}
